NODE_ENV=development

# Example (docker-compose below uses these defaults):
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/identity?schema=public"

# If running as TCP microservice (optional for now)
MICROSERVICE_HOST=0.0.0.0
MICROSERVICE_PORT=3001

